:root {
  --container-width: 100%;
  --container-padding: 12px;
  --container-content: calc(var(--container-width) - (var(--container-padding) * 2));
  --header-height: 96px;
  --container-free-space: calc(((100vw - var(--container-width)) / 2) / 2);
  --container-ear: calc(var(--container-free-space) + var(--container-padding));

  @media (--min-md) {
    --container-width: 768px;
    --container-padding: 16px;
  }

  @media (--min-lg) {
    --container-width: 1024px;
    --container-padding: 16px;
  }

  @media (--min-xl) {
    --container-width: 1280px;
    --container-padding: 24px;
  }

  @media (--min-2xl) {
    --container-width: 1536px;
    --container-padding: 36px;
  }
}

@media (--max-lg) {
  :root {
    --header-height: 80px;
  }
}

@media (--max-md) {
  :root {
    --header-height: 64px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #fff;
}

a {
  color: inherit;
}

.container {
  max-width: 100%;
  width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

.container--wide {
  @media (--min-xl) {
    width: calc(var(--container-width) + 360px);
  }
}

.page-title {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  margin: 0;
  line-height: 1.25;
}

.page-title + .page-content {
  margin-top: 56px;
}

@media (--max-xl) {
  .page-title {
    font-size: 44px;
  }
  .page-title + .page-content {
    margin-top: 44px;
  }
}

@media (--max-lg) {
  .page-title {
    font-size: 40px;
  }
  .page-title + .page-content {
    margin-top: 40px;
  }
}

@media (--max-md) {
  .page-title {
    font-size: 36px;
  }
  .page-title + .page-content {
    margin-top: 36px;
  }
}

@media (--max-sm) {
  .page-title {
    font-size: 28px;
    .page-title + .page-content {
      margin-top: 28px;
    }
  }
}

.page-content {
  font-size: 20px;
  line-height: 1.2;
  margin: 48px 0;

  @media (--max-lg) {
    font-size: 18px;
  }

  @media (--max-md) {
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.page-content a {
  color: inherit;
}

.page-content p {
  margin: 0;
}

.page-content * + p {
  margin-top: 1.5em;
}

.page-content ul {
  margin: 0;
}

.page-content * + ul {
  margin-top: 1.5em;
}

.page-content h2 {
  margin: 0;
  font-weight: 500;
}

.page-content * + h2 {
  margin-top: 1.5em;
}

.page-content h3 {
  margin: 0;
  font-weight: 500;
}

.page-content * + h3 {
  margin-top: 1.5em;
}

.page-content .wp-block-quote {
  margin: 0;
}

.page-content * + .wp-block-quote {
  margin-top: 1.5em;
}

.page-content .wp-block-slideshow {
  margin: 0;
}

.page-content * + .wp-block-slideshow {
  margin-top: 1.5em;
}

.page-content .wp-block-image {
  margin: 0;
}

.page-content * + .wp-block-image {
  margin-top: 1.5em;
}

.page-content .wp-block-columns {
  margin: 0;
}

.page-content * + .wp-block-columns {
  margin-top: 1.5em;
}

.page-content .wp-block-gallery {
  margin: 0;
}

.page-content * + .wp-block-gallery {
  margin-top: 1.5em;
}

.page-content .wp-block-buttons {
  margin: 0;
}

.page-content * + .wp-block-buttons {
  margin-top: 1.5em;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-layout__spacer {
  flex-grow: 1;
}

.input-field {
  position: relative;
  z-index: 1;
  display: block;
}

.input-field__label {
  font-size: 12px;
  line-height: 1;
  color: #949494;
  position: absolute;
  left: 12px;
  top: 10px;
  pointer-events: none;
  z-index: 2;
}

.input-field__input {
  padding: 20px 12px 0;
  font-size: 20px;
  color: #000;
  line-height: 1;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  height: 52px;
  display: block;
  width: 100%;
  border: none;
  position: relative;
  z-index: 1;
}

.modal .input-field__input {
  background: #f5f5f5;
}

.input-field__textarea {
  padding: 24px 12px 8px;
  font-size: 20px;
  color: #000;
  line-height: 1;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  display: block;
  width: 100%;
  border: none;
}
